.pio
.idea
.DS_Store
.vscode
lib/EpdFont/fontsrc
lib/I18n/I18nKeys.h
lib/I18n/I18nStrings.h
lib/I18n/I18nStrings.cpp
*.generated.h
.vs
build
[Bb]in/
[Oo]bj/
**/__pycache__/
/compile_commands.json
/.cache
.history/
/.venv
*.local*
/.dummy/
/CMakeLists.txt
/dependencies.lock
/managed_components/
/sdkconfig.default
/sdkconfig.defaults
